<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">
<h1>Listing for authcode</h1>

<f:flashMessages />

<table>
	<tr>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_authcode.qpid" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_authcode.authcode" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_authcode.email" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_authcode.feuser" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{authcodes}" as="authcode">
		<tr>
			<td><f:link.action action="show" arguments="{authcode : authcode}"> {authcode.qpid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{authcode : authcode}"> {authcode.authcode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{authcode : authcode}"> {authcode.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{authcode : authcode}"> {authcode.feuser}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{authcode : authcode}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{authcode : authcode}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New authcode</f:link.action>
</f:section>