<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit question</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="question" object="{question}">
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.type" /></label><br />
	<f:form.textbox property="type" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.title" /></label><br />
	<f:form.textbox property="title" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.show_title" /></label><br />
	<f:form.textbox property="show_title" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.text" /></label><br />
	<f:form.textbox property="text" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.help_text" /></label><br />
	<f:form.textbox property="help_text" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.image" /></label><br />
	<f:form.textbox property="image" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.image_position" /></label><br />
	<f:form.textbox property="image_position" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.mandatory" /></label><br />
	<f:form.textbox property="mandatory" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.mandatory_correct" /></label><br />
	<f:form.textbox property="mandatory_correct" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.dependant_show" /></label><br />
	<f:form.textbox property="dependant_show" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_type" /></label><br />
	<f:form.textbox property="open_type" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_pre_text" /></label><br />
	<f:form.textbox property="open_pre_text" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_in_text" /></label><br />
	<f:form.textbox property="open_in_text" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_post_text" /></label><br />
	<f:form.textbox property="open_post_text" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_validation" /></label><br />
	<f:form.textbox property="open_validation" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_validation_text" /></label><br />
	<f:form.textbox property="open_validation_text" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_type" /></label><br />
	<f:form.textbox property="closed_type" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_size" /></label><br />
	<f:form.textbox property="closed_size" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_max_answers" /></label><br />
	<f:form.textbox property="closed_max_answers" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_random_answers" /></label><br />
	<f:form.textbox property="closed_random_answers" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_inputfield" /></label><br />
	<f:form.textbox property="closed_inputfield" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_type" /></label><br />
	<f:form.textbox property="matrix_type" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_validation" /></label><br />
	<f:form.textbox property="matrix_validation" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_max_answers" /></label><br />
	<f:form.textbox property="matrix_max_answers" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_inputfield" /></label><br />
	<f:form.textbox property="matrix_inputfield" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.demographic_type" /></label><br />
	<f:form.textbox property="demographic_type" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.demographic_fields" /></label><br />
	<f:form.textbox property="demographic_fields" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.demographic_address_fields" /></label><br />
	<f:form.textbox property="demographic_address_fields" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.privacy_post" /></label><br />
	<f:form.textbox property="privacy_post" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.privacy_link" /></label><br />
	<f:form.textbox property="privacy_link" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.privacy_file" /></label><br />
	<f:form.textbox property="privacy_file" /><br />
	<label for="title"><f:translate key="tx_kequestionnaireextbase_domain_model_question.dependancy_simple" /></label><br />
	<f:form.textbox property="dependancy_simple" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>