<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">
<h1>Listing for question</h1>

<f:flashMessages />

<table>
	<tr>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.type" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.title" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.show_title" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.text" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.help_text" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.image" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.image_position" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.mandatory" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.mandatory_correct" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.dependant_show" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_type" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_pre_text" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_in_text" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_post_text" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_validation" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.open_validation_text" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_type" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_size" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_max_answers" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_random_answers" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.closed_inputfield" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_type" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_validation" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_max_answers" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.matrix_inputfield" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.demographic_type" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.demographic_fields" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.demographic_address_fields" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.privacy_post" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.privacy_link" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.privacy_file" /></th>
		<th><f:translate key="tx_kequestionnaireextbase_domain_model_question.dependancy_simple" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{questions}" as="question">
		<tr>
			<td><f:link.action action="show" arguments="{question : question}"> {question.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.show_title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.help_text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.image}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.image_position}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.mandatory}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.mandatory_correct}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.dependant_show}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.open_type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.open_pre_text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.open_in_text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.open_post_text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.open_validation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.open_validation_text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.closed_type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.closed_size}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.closed_max_answers}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.closed_random_answers}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.closed_inputfield}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.matrix_type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.matrix_validation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.matrix_max_answers}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.matrix_inputfield}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.demographic_type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.demographic_fields}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.demographic_address_fields}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.privacy_post}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.privacy_link}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.privacy_file}</f:link.action></td>
			<td><f:link.action action="show" arguments="{question : question}"> {question.dependancy_simple}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{question : question}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{question : question}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New question</f:link.action>
</f:section>